/*Header y footer = login, home y register -- Main = home */

/*:root{
Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto'; 
    font-size: 12px;
    background-color: #ebebeb

}
/*HEADER*/
header.container{
    width: 400px;
    background-color: rgb(232, 200, 38);
}

.header-nav{
   display: flex;
   margin-left: 10px ;
}
/*
.nav-search{
    sdadasda:;
}
*/
.nav-search-inp{
    margin-left: 15px;
}
/*
.nav-search-inp{
    width: 50%;
    height: 35px;
    margin: 0;
    border-radius: 2px 0px 0px 2px;
    border-width: 1.5px;
    box-sizing: border-box;
    padding: 10px 35px 10px 15px;
    font-size: 14px;
    color: rgb(60, 65, 68);
    background-color: rgb(220, 218, 215);
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    border-color: rgba(24, 26, 27, 0);
    border: none;
}

.nav-search-b{
    color: rgb(96, 104, 108);
    background-color: #FFF;
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    padding: 0;
    font-size: 18px;
    border: none;
    color: #666;
    width: 35px;
    height: 35px;
    border-radius: 0px 2px 2px 0px;
    box-sizing: border-box;
}
*/

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-nav{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 8px;
}

.site-nav li{
    padding: 1px;
    transition: all;
}

.img-bann{
    width: 100%;
    color: black;
}

.burger-mn{
    display: flex;
    justify-content: center;

    .burger-menu{
        color: white;
        padding: 0.6rem;
        border: none;
        width: 30px;
        height: 34px;
        background-color:#1259c3;
        border-radius: 6px 6px 6px 6px;
        box-sizing: border-box;
        
    }
}
/*
.nav-search{
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 
/*
nav.login-bar{
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
}
*/
/*
p.buy{
    text-align: center;
}

*/
/*main
display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;*/
.main-of{
    width: 100%;
}
.tit-1, .tit-2{
    margin: 20px 30px 20px 30px;
}

h3{
    font-size: 24px;
    text-align: left;
    margin-bottom: 25px ;
    color: #666;
}
.div-desc{
    background-color: #FFF;
    width: 300px;
    height: 110px;
    margin-bottom: 1.8rem;
    margin-top: -1.6px;
}
.discount > .product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.price-disc{
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
}

.price{
    font-size: 18px;
    padding-right: 20px;
    margin-left: 12px;
    width: 30%;
}

.discount{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    position: relative;
}
.name{
    font-size: 16px;
    margin-left: 12px;

}

/*
.div-desc{
    background-color: white;
    width: 287px;
    height: 150px;
    display: flex;
    margin: -2.5px 15px 0px 15px;
    border-left: 15px;
    border-right: 15px;
    padding-left: 13px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
*/
 /* border solid 1px #ebebeb;*/
 /*
.tit-1{
    background-color: #ebebeb;
    margin-top: 5px;
}

.tit-2{
    background-color: #ebebeb;
}


.price{
    font-size: 18px;
    margin: 0%;
}
.discount{
    font-size: 16px;
    margin-top: 0px;
    
}

article{
    text-align: center;
    margin-bottom: 10px;
}

.name{
 margin-bottom: 2px;
 margin-top:5px
}
*/


/*footer
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 90%;

}

.descriptions{
    display: flex;
    font-weight:bold;
    font-size: 16px;
    justify-content: normal;
    text-align: center;
}
p.desc-p{
    margin-top: -15px;
}

.foot-ul{
    display: flex;

}
/*
.foot-ul{
    display: flex;
    width: 250px;
    padding-right: 40px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    margin-top: 0.2px;
    padding-top: 40px;
} 
*/
footer.foot-container{
    width: 400px;
    background-color: #FFF;
    font-size: 16px;
}

.foot-ul1, .foot-ul2, .foot-ul3{
    text-align: center;
    padding: 10px 5px 10px 5px;
}

.foot-ul{
    margin-left: 10px;
    padding-bottom: 10px;
}

p.descriptions{
    font-weight: bold;
}

i.fa-solid.fa-user-shield, .fa-solid.fa-credit-card, .fa-solid.fa-gift{
    font-size: 2em;
    color: #1259c3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

@media(min-width:1200px){
  
}
@media(min-width:769px){}  